In [1]:
#import packages
import numpy as np
import pandas as pd

In [2]:
# import the dataset by reading it through pandas and reading the first 5 rows
food = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')
food.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [3]:
food.shape

(60943, 12)

In [4]:
food.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [5]:
food['Element'].value_counts()

Domestic supply quantity                  5295
Import Quantity                           5139
Protein supply quantity (g/capita/day)    5023
Fat supply quantity (g/capita/day)        5023
Food supply (kcal/capita/day)             5014
Food                                      4941
Food supply quantity (kg/capita/yr)       4905
Residuals                                 4655
Export Quantity                           4403
Stock Variation                           4232
Production                                3881
Processing                                2010
Losses                                    2009
Other uses (non-food)                     1732
Feed                                      1319
Seed                                       762
Tourist consumption                        555
Total Population - Both sexes               45
Name: Element, dtype: int64

In [6]:
food.Item.value_counts()

Milk - Excluding Butter     1262
Eggs                        1142
Miscellaneous                911
Cereals - Excluding Beer     714
Oilcrops                     706
                            ...
Grand Total                  135
Animal Products              135
Vegetal Products             135
Sugar non-centrifugal        121
Population                    90
Name: Item, Length: 119, dtype: int64

In [7]:
# Perform a groupby sum aggregation on ‘Item’
a = food.groupby(['Y2014','Y2017'], as_index=False)['Item'].sum()
a

          Y2014     Y2017                      Item
0       -1796.0       0.0      Beverages, Fermented
1       -1631.0    -689.0       Alcoholic Beverages
2        -849.0    -600.0     Sugar CropsSugar cane
3        -838.0    -538.0             Starchy Roots
4        -685.0     689.0  Cereals - Excluding Beer
...         ...       ...                       ...
14904   90425.0   96443.0                Population
14905   98094.0  106400.0                Population
14906  108756.0  112625.0             Starchy Roots
14907  109593.0  117702.0             Starchy Roots
14908  176405.0  190873.0                Population

[14909 rows x 3 columns]

In [8]:
#What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?
food.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [9]:
#What is the total number and percentage of missing data in 2016 to 2 decimal places?
print(food.Y2016.isna().sum())
1535/(food.Y2016.count())*100

1535

2.583827093994075

In [10]:
#Which year had the highest correlation with ‘Element Code’? 
food.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

Element code with highest correlation is 2014

In [11]:
#What year has the highest sum of Import Quantity?
e=food.groupby('Element', as_index=False)
h = e['Y2014','Y2015','Y2016','Y2017','Y2018'].sum()
y = h.sort_values(by=['Y2014','Y2015','Y2016','Y2017','Y2018'], ascending=False)
y[y['Element']=='Import Quantity']

C:\Users\CC\AppData\Local\Temp\ipykernel_3148\514414324.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  h = e['Y2014','Y2015','Y2016','Y2017','Y2018'].sum()

           Element      Y2014      Y2015      Y2016      Y2017      Y2018
7  Import Quantity  274144.48  267018.46  286582.78  294559.09  287997.09

The year with highest Import Quantity is 2017

In [12]:
#What is the total number of the sum of Production in 2014
y[y['Element']=='Production']

       Element       Y2014       Y2015       Y2016       Y2017       Y2018
11  Production  1931287.75  1947019.39  1943537.15  2030056.89  2075072.89

The total sum of production in 2014 is 1931287.75

In [13]:
#Which of these elements had the highest sum in 2018?
g = food.groupby('Element', as_index=False)['Element','Y2018'].sum()
k = g.sort_values(by='Y2018', ascending=False)
k.head(3)

C:\Users\CC\AppData\Local\Temp\ipykernel_3148\750990776.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  g = food.groupby('Element', as_index=False)['Element','Y2018'].sum()

                     Element       Y2018
0   Domestic supply quantity  2161192.10
11                Production  2075072.89
4                       Food  1303841.28

The element with highest sum in 2018 is Domestic supply quantity

In [14]:
#Which of these elements had the 3rd lowest sum in 2018?
k = g.sort_values(by='Y2018', ascending=False)
k.tail(3)

                                   Element     Y2018
12  Protein supply quantity (g/capita/day)  11833.56
2       Fat supply quantity (g/capita/day)  10258.69
17                     Tourist consumption     90.00

The element with third lowest sum in 2018 is Protein supply quantity (g/capita/day)

In [15]:
#What is the total Import Quantity in Algeria in 2018?
l = food.groupby(['Area', 'Element'], as_index=False)['Y2018'].sum()
l.head()
z = l[l["Area"].isin(['Algeria'])]
z[z['Element'].isin(['Import Quantity'])]

      Area          Element     Y2018
7  Algeria  Import Quantity  36238.29

In [16]:
#What is the total number of unique countries in the dataset?
food.Area.nunique()

49